 #root {
  margin: 0;
  padding: 0;
  width:100%;

}
  /*

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

header{
  background-color: rgb(44, 45, 47);
  width: 100%;
}

nav{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.content{
  display: flex;
  flex-direction: column;

  margin: 10px;
  padding: 5px;
}

#left-nav-item{
  display: flex;
  flex-direction: row;
  
  padding: 0;
  margin:0;
}

#nav-item > div{
  padding: 10px;
  margin: 10px;
}

#right-nav-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

#profile{
 
  width: 50px;
}

.nav-item{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 3px;
}

.list-of-results {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  margin: 3px;
}

.list-of-results > li{
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 30px;
  align-items: center;
  border-radius: 15px;
  color: white;
  background-color: #605e5e;
  margin: 4px;
}




.custom-select-list {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  min-width: 300px;
}

.custom-select-list li {
  padding: 10px;
  cursor: pointer;
}

.custom-select-list li:hover {
  background-color: #605e5e; /* Change color of dropdown links on hover */
}

.custom-select-list li.selected {
  background-color: #4CAF50; /* Style for the selected item */
  color: white;
}

a.active {
  color: red;
}